.form {
  display: flex;
  flex-direction: column;

  width: 210px;
  margin: 20px;
  padding: 20px;

  border: 1px solid grey;
  border-radius: 5px;
}

.form > label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form > label > input {
  width: 200px;
  height: 30px;
}
