.list {
  box-sizing: border-box;

  display: flex;

  margin-top: 292px;
  padding: 6px;

  border-radius: 140px;

  background: rgba(175, 175, 175, 0.3);

  z-index: 1;
}

.item:first-child {
  padding: 0;
}

.item {
  margin-right: 100px;
  padding: 26px 0;

  font-size: 21px;
  font-weight: 700;
}

.item:last-child {
  margin: 0;
  padding: 26px 44px;

  border-radius: 140px;

  background: #bee0ff;
}
