body {
  background: #2e2828;
  padding-left: 500px;
}

.container:hover .hovicon {
  color: #c3c3c3;
  transition: color 0.3s;
}

.container .hovicon:hover {
  color: #1a1a1a;
  transition: color 0.3s;
}

.hovicon {
  display: table;
  font-size: 45px;
  line-height: 90px;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #1a1a1a;
  padding: 0 30px;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 140px;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  rotate: 12deg;
  top: 0;
  left: 0;
  z-index: -1;
  background: #bee0ff;
  transition: transform 0.2s, opacity 0.3s;
  transform: scale(3);
  opacity: 0;
  translate: -200px;
}

.hovicon:hover:after {
  transform: scale(1);
  transform: rotate(-12deg);
  opacity: 1;
  transform: translate(200px);
}
